@model Bobs_Tyres.Models.Review

@{
    ViewBag.Title = "Edit Testimonial | Bobs Tyres Ltd"; 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section pageTitle{
    Edit Testimonial
}

@section pageContent{
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ReviewID)
            @Html.HiddenFor(model => model.Date)

            @{
                if (Model.StatusID == 1)
                {
                    <div class="alert alert-warning">
                        <strong><i class="fa fa-clock-o" aria-hidden="true"></i> Pending </strong> This testimonial has not been approved and is not visible to users.
                    </div>
                }
                else
                {
                    <div class="alert alert-success">
                        <strong><i class="fa fa-check-square-o" aria-hidden="true"></i> Approved </strong> This testimonial has been approved.
                    </div>
                }
            }

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Rating, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="star">
                        <span id="star1" onclick="selectStar(1)" onmouseover="starHover(1)" onmouseout="starOut(1)" value="1">&#9734</span>
                        <span id="star2" onclick="selectStar(2)" onmouseover="starHover(2)" onmouseout="starOut(2)">&#9734</span>
                        <span id="star3" onclick="selectStar(3)" onmouseover="starHover(3)" onmouseout="starOut(3)">&#9734</span>
                        <span id="star4" onclick="selectStar(4)" onmouseover="starHover(4)" onmouseout="starOut(4)">&#9734</span>
                        <span id="star5" onclick="selectStar(5)" onmouseover="starHover(5)" onmouseout="starOut(5)">&#9734</span>
                    </div>
                    @Html.EditorFor(model => model.Rating, new { htmlAttributes = new { id = "rating" } })
                    @Html.ValidationMessageFor(model => model.Rating, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Testimonial, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Testimonial, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Testimonial, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @{
                        if (Model.StatusID == 1)
                        {
                            @Html.ActionLink("Approve This Testimonial", "Approve", "Reviews", new { id = Model.ReviewID }, new { @class = "btn btn-success" })
                            <span>&nbsp;</span>
                            @Html.ActionLink("Reject This Testimonial", "Delete", "Reviews", new { id = Model.ReviewID }, new { @class = "btn btn-danger" })
                        }
                        else
                        {
                            @Html.ActionLink("Delete This Testimonial", "Delete", "Reviews", new { id = Model.ReviewID }, new { @class = "btn btn-danger" })
                        }
                    }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        }

    <div>
        @Html.ActionLink("Back to List", "AdminIndex")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
