@model IEnumerable<Bobs_Tyres.Models.Review>
@using Bobs_Tyres.Security;

@{
    ViewBag.Title = "Testimonials | Bobs Tyres Ltd";
}

<h2>Testimonals</h2>

<p>
    @Html.ActionLink("Add Your Own Testimonial", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Testimonial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Testimonial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
    </tr>
}
</table>
