@using Bobs_Tyres.Security;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li class="active"><a href="@Url.Action("Home","Accounts")">Home</a></li>
    <li><a href="@Url.Action("Index","LatestNews")">Latest News</a></li>
    <li><a href="@Url.Action("AdminIndex","Reviews")">Testimonials</a></li>
    <li><a href="@Url.Action("Newsletter","Accounts")">Newsletter</a></li>
    <li style="float: right"><a href="@Url.Action("LogOut","Accounts")">Log Out</a></li>
</ul>

<h2>@RenderSection("pageTitle", false)</h2>

@RenderSection("pageContent", false)

@section Scripts{
    @RenderSection("Scripts", false)    
}