@model Bobs_Tyres.Models.Newsletter

@{
    ViewBag.Title = "Newsletter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section pageTitle{
    Newsletter
}

@section pageContent{
<script src="http://connect.facebook.net/en_US/all.js"></script>

@{
    if (ViewBag.Message != null)
    {
        <div class="alert alert-info">
            <strong>Info!</strong> @ViewBag.Message
        </div>
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
            <div><i class="fa fa-question-circle" aria-hidden="true"></i> Copy and paste the URL of an image to upload, e.g. http://www.bobstyresltd.co.uk/images/logo.jpg </div>
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a onclick="postToFeed(); return false;" class="btn btn-info" id="facebookButton">Post To Facebook</a>
            <a class="btn btn-default">Send Newsletter</a>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10" id="facebookConnection">
            <a href="https://www.facebook.com"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <span id="facebookStatus"></span>
            <p><i>To post on facebook, the status above needs to be 'connected'.  This will only happen if you are logged in on facebook as Bobs Tyres on the device you are using.</i></p>
        </div>
    </div>

}

<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '646957715495504',
            cookie: true,
            xfbml: true,
            version: 'v2.8'
        });

        FB.getLoginStatus(function (response) {
            $("#facebookStatus").text(response.status);
            if (response.status === 'connected') {
                $("#facebookButton").css({ 'pointer-events': 'auto', 'cursor': 'pointer' });
                var access_token = FB.getAuthResponse()['accessToken'];
                console.log(access_token);
                FB.api('/me', function (response) {
                    console.log(response.name);
                })
            }
        })
    };
</script>

}