@model Bobs_Tyres.Models.LatestNews

@{
    ViewBag.Title = "Create News Item | Bobs Tyres";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section pageTitle{
    Latest News - Create
}

@section pageContent{
@{
    if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">
            <strong>Error!</strong> @ViewBag.Error
        </div>
    }
}
    @using (Html.BeginForm("Create", "LatestNews", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5" id="imageDisplay">
                    <img src="~/Content/Images/LatestNews/tyre.png" />
                    @Html.HiddenFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-5">
                    <div>
                        <label>Choose A New Image:</label>
                        <input type="file" name="file" id="file" accept="image/*"/>
                    </div>
                    <br />
                    <div class="existingImg">
                        <label>OR Use An Existing Image</label>
                        <br />
                        @{
                            DirectoryInfo directory = new DirectoryInfo(Server.MapPath(@"~\Content\Images\LatestNews"));
                            var files = directory.GetFiles().ToList();
                            var imageCount = 0;
                            foreach (var file in files)
                            {
                                <img class="newsExistingImage" style="filter: grayscale(100%); border: 1px solid 	#e6e6e6" onmouseover="showImage(@imageCount)" onmouseout="hideImage(@imageCount)" onclick="chooseImage(@imageCount)" id="@imageCount" value="@file" src="~/Content/Images/LatestNews/@file" />
                                imageCount = imageCount + 1;
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ButtonLink, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">

                    <select id="buttonDropDown" onclick="buttonlink()">
                        <option value="noLink">No button link</option>
                        <option value="link">Link to page on this site or another website</option>
                    </select>
                    <div class="hiddenButtonLink">
                        @Html.EditorFor(model => model.ButtonLink, new { htmlAttributes = new { @class = "form-control" } })
                        <div class="linkExample"><i class="fa fa-question-circle" aria-hidden="true"></i> Copy and paste the URL of a page in this site or another website, e.g. http://www.crewkernetyres.co.uk/ </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
