@model IEnumerable<Bobs_Tyres.Models.LatestNews>

@{
    ViewBag.Title = "Latest News";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section pageTitle{
    Latest News
}

@section pageContent{
    @{
        if (ViewBag.Success != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong> @ViewBag.Success
            </div>
        }
        if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                <strong>Error!</strong> @ViewBag.Error
            </div>
        }
    }
    <p>
        <a href="@Url.Action("Create","LatestNews")"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create New</a>
    </p>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="newInformation">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <img src="~/Content/Images/LatestNews/@item.Image" />
                    <h5>@Html.DisplayFor(modelItem => item.Description)</h5>
                    <label>Button link:</label>
                    <br />
                    @{
                        if (@item.ButtonLink == null)
                        {
                            <i>No button for this news item</i>
                        }
                        else
                        {
                            <a href=@item.ButtonLink>Link</a>
                        }
                    }
                    <br />
                    @Html.ActionLink("Edit", "Edit", new { id = item.LatestNewsID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LatestNewsID })
                </div>
            </div>
        }
    </div>
}