@{
    ViewBag.Title = "Home Page";
}

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="bannerImg">
            <img size="(max-width: 1920px) 100vw, 1920px" src="~/Content/Images/LongBanner.png" />
            <div class="bannertext">
                <h1 id="googleText">Welcome to Bobs Tyres & Garage Services</h1>
                <h3>With over 80 years combined experience our technicians can service, maintain and repair all makes of car and light commercial vehicle.</h3>
                <h3>Whether you have a puncture, an annoying little rattle or need a full service including timing belt we have the facilities and qualified staff to help.</h3>
                <h2 id="googleText">We're not just tyres!</h2>
                <h4 class="familyText">A family, friendly service you can trust.</h4>
            </div>
        </div>
    </div>
</div>

<div class="row" id="break"></div>

<div class="row">
    <div class="col-md-3">
        <div class="col-md-12" id="boxTile">
            <div class="row" id="boxTitle">
                <div class="col-md-12"><h2>Online Tyres</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12" id="boxDesc">
                    Our quick and easy booking system takes the hassle out of sourcing tyres online
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="http://www.crewkernetyres.co.uk" class="btn btn-default">Read More</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-12" id="boxTile">
            <div class="row" id="boxTitle">
                <div class="col-md-12"><h2>Repairs</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12" id="boxDesc">
                    Our workshop is able to undertake all aspects of repairs to your vehicle
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLink("Read More", "Index", "Home", new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="col-md-12" id="boxTile">
            <div class="row" id="boxTitle">
                <div class="col-md-12"><h2>Servicing</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12" id="boxDesc">
                    Our technicians can service your car, van or light commerical vehicle
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLink("Read More", "Index", "Home", new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="col-md-12" id="boxTile">
            <div class="row" id="boxTitle">
                <div class="col-md-12"><h2>Tyres</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12" id="boxDesc">
                    We offer a quality tyre-fitting service with a quick turnaround and great value for money
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLink("Read More", "Index", "Home", new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="break"></div>

<div class="row">
    <div class="col-md-6">
        <div class="col-md-12" id="secRow">
            <div class="row">
                <h2>Latest News</h2>
            </div>
            <div class="col-md-12" id="latestNews">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            @{
                                var counter = 0;
                            }
                            @foreach (var item in ViewBag.LatestNews)
                            {

                                counter = counter + 1;
                                var position = "news" + counter.ToString();
                                var radiobutton = "img-" + counter.ToString();

                            <input type="radio" name="radio-btn" id="@radiobutton" />
                            <li class="news @position">
                                <div class="row">
                                    <div class="col-md-12" id="slideContent">
                                        <div class="row" id="newsTitle">
                                            <h2><b>@item.Title</b></h2>
                                        </div>
                                        <div class="row" id="newsImage">
                                            <img src="../Content/Images/@item.Image" />
                                        </div>
                                        <div class="row" id="newsDescription">
                                            <div class="col-md-12">
                                                <h4>@item.Description</h4>
                                            </div>
                                        </div>
                                        <div class="row" id="findoutmore">
                                            @Html.ActionLink("Find Out More", "Index", "Home", new { @class = "btn btn-default" })
                                        </div>

                                        <a class="prev" onclick="plusSlides(-1, @ViewBag.LatestNewsCount, @counter)">&#10094</a>
                                        <a class="next" onclick="plusSlides(1, @ViewBag.LatestNewsCount, @counter)">&#10095</a>
                                    </div>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="nav-dots">
                        @{
                            counter = 0;
                        }
                        @foreach (var item in ViewBag.LatestNews)
                        {
                            counter = counter + 1;
                            var navdot = "img-dot" + counter.ToString();
                        <label class="nav-dot" id="@navdot" onclick="selectSlide(@counter)"></label>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12" id="secRow">
            <div class="row">
                <h2>Testimonials</h2>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <h2 style="text-align: right" id="reviewaverage">@ViewBag.ReviewAverage</h2>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="totalRating">
                                        <span id="star1">&#9734</span>
                                        <span id="star2">&#9734</span>
                                        <span id="star3">&#9734</span>
                                        <span id="star4">&#9734</span>
                                        <span id="star5">&#9734</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span id="numReviews">@ViewBag.NumReview Reviews</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.ActionLink("Write a review", "Create", "Reviews", null, new { @class = "btn btn-default", id="reviewbutton" })
                </div>
            </div>
            <div class="col-md-12">
                <div class="testimonialList">
                    @foreach (var item in ViewBag.Reviews)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                @item.Name
                                <span id="greyedText">@item.Date</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="userRating">

                                    @for (var i = 1; i <= @item.Rating; i++)
                                    {
                                        var starid = "star" + i.ToString();
                                        <span id="@starid">&#9733</span>
                                    }
                                    @for (var i = @item.Rating; i < 5; i++)
                                    {
                                        var starid = "star" + i.ToString();
                                        <span id="@starid">&#9734</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @item.Testimonial
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span id="greyedText">@item.Location</span>
                            </div>
                        </div>

                        <hr />
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="break"></div>
<div class="row">
    <div class="col-md-6">
        <div class="col-md-12" id="thirdRow">
            <div class="row">
                <div id="googleMap" style="width: 100%; height: 300px"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12" id="thirdRow">
            <div class="row">
                <div class="col-md-5" id="wheelsonFace">
                    <img src="../Content/Images/WheelsonCartoonFace.png" />
                </div>
                <div class="col-md-7">
                    <blockquote class="rectangle-speech-border">
                        <h2>Hi, my name is Wheelson</h2>
                        <h4>Find me outside the garage and 'check me out' for our latest offers</h4>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIpBqhrLDizCmUyYyy6-Z482uNyU66oxc&callback=initMap"></script>